In [1]:
age = 32

if age>30:
    age = 25   # python ignore this
    print(age)
    
print(age)

25
25

In [2]:
total = 1+2+3+4+5
print(total)

15

In [3]:
total = 1+2+3+4+5\
    +3
print(total)

18

In [4]:
x=5;y=10;z=x+y
print(z)

15

In [5]:
a=10;b=10;c=a+b
print(c)

20

In [6]:
a=20;b=10;c=10;d=20;e=-10
f=a+b+c+d+e
print(f)

50

In [7]:

if 5>2:
    print("five is greater than two")
else:
    print("five is not greater than two")

five is greater than two

In [12]:
x = int(input())

print("x =",x)
if x>2:
    print("x is greater than two")
else:
    print("x is not greater than two")

x = 5
x is greater than two

In [13]:
name = 'Lily'
age = 16

height = '152cm'
is_student = True

print('name',name)
print('age',age)
print('height',height)
print('is_student',is_student)

name Lily
age 16
height 152cm
is_student True

In [15]:
age = 14
print(type(age))

str_age = str(age)
print(type(str_age))

float_age = float(age)
print(type(float_age))

bool_age = bool(age)
print(bool_age)

<class 'int'>
<class 'str'>
<class 'float'>
True

In [16]:
# simple calculater

num1= int(input("enter the first num"))
num2= int(input("enter the second num"))

print("num1=",num1)
print("num2=",num2)


sum = num1+num2
print(sum)

subtraction = num1 - num2
print(subtraction)

product = num1* num2
print(product)

quatient = num1 /  num2
print(quatient)

num1= 5
num2= 10
15
-5
50
0.5

In [17]:
a=10
b=10

print(a==b)
type(a==b)

True

bool

In [18]:
x = 10%2
print(x)

0

In [19]:
a= 10
b = 5

floor_division = a//b
print(floor_division)  # Output: 2


modulo = a%b
print(modulo)

Exception = a**b
print(Exception)  # Output: 2500

2
0
100000

In [20]:
a = 10
b = 10

a==b

True

In [21]:
x = 5
y =10
x==y

False

In [22]:
str = "Shweta"
str2 = "Shweta"

str == str2

True

In [23]:
str = "Shweta"
str2 = "shweta"

str==str2

False

In [24]:
100>10

True

In [25]:
x = 20
y = 5

x>y

True

In [26]:
x = 20
y = 5

x!=y

True

In [27]:
# And,OR,not

a = True
b = True

print(a==b)
print(a!=b)

print('And operator=' , a and b)

print('OR operator=',a or b)

print('not operator (a)=',not a)  # it oposite the result
print('not operator (b)=',not b)

True
False
And operator= True
OR operator= True
not operator (a)= False
not operator (b)= False

In [28]:
age = 5

if 80>=age>=18:
    print("Yo can vote")
elif age <18:
    print("you are minor")
else:
    print("Invalid age")

you are minor

In [29]:
n = int(input())

if n>0:
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")
else:
    print("number is zero or negative")

number is odd

In [31]:
year = 2021

print("year=",year)
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("this year is a leap year")
        else:
            print("this year is not a leap year")
    else:
        print("this year is not a leap year")
else: 
    print("this year is not a leap year")

year= 2021
this year is not a leap year

In [33]:
num1= int(input("enter first number"))
num2= int(input("enter second number"))
operation = input("enter operation, +,-,*,/,//,%,**")

print("num1", num1)
print("num2", num2)
print("operation", operation)


if operation == '+':
    result = num1+num2
elif operation == '-':
    result = num1-num2
elif operation == '*':
    result = num1*num2
elif operation == '/':
    result = num1/num2
elif operation == '//':
    result = num1//num2
elif operation =='%':
    result = num1%num2
elif operation == '**':
    result = num1**num2
else:
    print("invalid operation")

print("Result is : ", result)

num1 10
num2 5
operation +
Result is :  15

In [34]:
name = "my name is Shweta "

result = name + " " + "I am a software engineer" + " " + "I love coding" 

print(result)

my name is Shweta  I am a software engineer I love coding

In [35]:
result = 5*5
print(result)  # Output: 25

25

In [48]:
#  finding the ticket price as per Age and student status.


age = int(input())
is_student = input("yes/no").lower()


print(f"age = {age} years \nis_student = {is_student}")
if age<5:
    price = "free"
elif age<=12:
        price = "12$"
elif age <=18:
    if is_student =="yes":
        price = "15$"
    else:
        price = "20$"
elif age <=65:
    if is_student == "yes":
        price = "25$"
    else:
        print("20$, for rest member")

print("age is", age,"years", "and ticket price is :",  price)

age = 15 years
is_student = no
age is 15 years and ticket price is : 20$

In [91]:
# for loop on string 

name = "shweta kesari"

for i in name:
    print(i)
    print("-")

s
-
h
-
w
-
e
-
t
-
a
-

-
k
-
e
-
s
-
a
-
r
-
i
-

In [50]:
# simple while loop
count = 0

while count <=10 :
    print(count)
    count = count+1

0
1
2
3
4
5
6
7
8
9
10

In [51]:
# while loop on range 

range = 0

while range<=20:
    print(range)
    range= range+2

0
2
4
6
8
10
12
14
16
18
20

In [64]:
#  while loop with checking divisibility of number
num = 21
while num%2==0:
    print("yes")
    break

while num%2 !=0:
    print("no")
    break

no

In [65]:
num = 11
if num%2==0:
    print("yes")
else:
    print("no")

no

In [3]:
print(type(i))

<class 'int'>

In [4]:
#  for loop with condition

for i in range(10):

    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [5]:
for i in range(5):
    if i ==2:
        pass
    print(i)

0
1
2
3
4

In [6]:
for i in range(5):
    if i ==2:
        continue
    print(i)

0
1
3
4

In [7]:
for i in range(5):
    if i ==2:
        break
    print(i)

0
1

In [8]:
#  nested loop

for i in range(3):
    for x in range(2):
        print("i", i, "x", x)

i 0 x 0
i 0 x 1
i 1 x 0
i 1 x 1
i 2 x 0
i 2 x 1

In [29]:
name = ("jacob", "williem", "Ammy")
surname = ("jakson")

for i in name:
    print(i, surname)

jacob jakson
williem jakson
Ammy jakson

In [1]:
#  nested loop

name = ("jacob", "williem", "Ammy")
surname = ("jakson", "smith", "doe")

for i in name:
    for x in surname:
        print(i, x)

jacob jakson
jacob smith
jacob doe
williem jakson
williem smith
williem doe
Ammy jakson
Ammy smith
Ammy doe

In [30]:
#  while loop with a condition
total = 10
sum = 0
count= 1

while count<=total:
    sum = sum+ count
    count=count+1
print(sum)

55

In [2]:
intro = """Good morning, everyone. 
My name is Leena, and I was born and raised in the UK. 
I hold a graduate degree in Psychology and Human Behavior and am currently pursuing my PhD in the same field. 
I am deeply passionate about understanding psychology and exploring human nature, 
and I strive to continuously expand my knowledge in these areas. As a dedicated learner, 
I am committed to advancing my expertise and contributing to the field of psychology through research and study.."""

print(intro)

Good morning, everyone.
My name is Leena, and I was born and raised in the UK.
I hold a graduate degree in Psychology and Human Behavior and am currently pursuing my PhD in the same field.
I am deeply passionate about understanding psychology and exploring human nature,
and I strive to continuously expand my knowledge in these areas. As a dedicated learner,
I am committed to advancing my expertise and contributing to the field of psychology through research and study..

In [3]:
print("Leena" in intro)

True

In [4]:
x = "Leena" in intro

print(x)

True

In [5]:
if "name" in intro:
    print("yes")

yes

In [8]:
print("name" not in intro)

"expensive" not in intro

False

True

In [9]:
if "expensive" not in intro:
    print("true")
else:
    print("false")

true

In [10]:
if " hi " not in intro:
    print("true")
else:
    print("false")

true

In [17]:

x = "hello, world!"

print(x[-6:-2])

worl

In [12]:
x = "hello, world!"
print(x.strip())

hello, world!

In [13]:
x = "hello, world!"
print(x.split())

['hello,', 'world!']

In [19]:
x = 5
x+=3
print(x)

8

In [20]:
x-=3
x

5

In [21]:
x*=3
x

15

In [22]:
x//=2
x

7

In [23]:
tag = list(("T-shirts", "veggies", "fruits"))

print(tag)
print(type(tag))

['T-shirts', 'veggies', 'fruits']
<class 'list'>

In [24]:
tag = tuple(("T-shirts", "veggies", "fruits"))

print(tag)
print(type(tag))

('T-shirts', 'veggies', 'fruits')
<class 'tuple'>

In [25]:
tag = set(("T-shirts", "veggies", "fruits"))

print(tag)
print(type(tag))

{'fruits', 'veggies', 'T-shirts'}
<class 'set'>

In [26]:
tag = ("T-shirts", "veggies", "fruits")

print(tag[1])
print(tag[0])
print(tag[2])
print(tag[-1])

veggies
T-shirts
fruits
fruits

In [27]:
tag = ["T-shirts", "veggies", "fruits"]

tag[0:1] = ["Rent"]
print(tag)

tag[0:2] = ["Rent"]
print(tag)

['Rent', 'veggies', 'fruits']
['Rent', 'fruits']

# append,insert, extend
# pop, remove, index
# count, sort, reverse
# copy, clear
1. append() : This function is used to add an element to the end of the
list. It can take one argument which is the element to be added.
2. insert() : This function is used to add an element at a specified position in
the list. It can take two arguments, the position and the element to be added.
3. extend() : This function is used to add multiple elements to the end of the
list. It can take one argument which is a list or any other iterable containing
the elements to be added.
4. pop() : This function is used to remove and return an element from the list
at a specified position. It can take one argument which is the position of the
element to be removed. If no argument is provided, it removes and returns the
last element from the list.
5. remove() : This function is used to remove the first occurrence of a specified
element from the list. It can take one argument which is the element to be removed.
6. index() : This function is used to return the index of the first occurrence of
a specified element in the list. It can take one argument which is the element
to be searched for.
7. count() : This function is used to return the number of occurrences of a
specified element in the list. It can take one argument which is the element to
be searched for.
8. sort() : This function is used to sort the elements of the list in ascending
order. It can take one argument which is the key function to be used for sorting.
9. reverse() : This function is used to reverse the order of the elements in the
list.
10. copy() : This function is used to create a copy of the list.
11. clear() : This function is used to remove all elements from the list.

In [28]:
thislist = ['home', 'car', 'audi', 'rangerover', 'lamborgini', '2bhk', '5bhk', 'pool']
for x in range(len(thislist)):
    print(thislist[x])

home
car
audi
rangerover
lamborgini
2bhk
5bhk
pool

In [29]:
thislist = ['home', 'car', 'audi', 'rangerover', 'lamborgini', '2bhk', '5bhk', 'pool']

# for item in range(len(thislist)):
#     print(thislist[item])

for indexing in thislist:
    print(len(indexing), (indexing))

4 home
3 car
4 audi
10 rangerover
10 lamborgini
4 2bhk
4 5bhk
4 pool

In [30]:
for indexing in thislist:
    print(indexing)

home
car
audi
rangerover
lamborgini
2bhk
5bhk
pool

In [32]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [33]:
for i in range(10):
    if i ==2:
        continue
    print(i)

0
1
3
4
5
6
7
8
9

In [34]:
for i in range(3):
    for j in range(2):
        print("i", i," and ", "j", j)

i 0  and  j 0
i 0  and  j 1
i 1  and  j 0
i 1  and  j 1
i 2  and  j 0
i 2  and  j 1

In [35]:
num = 10

for x in range(num):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [36]:
num = 10
sum = 0
count= 1


while count<=num:
    sum = sum + count  # 0+1
    count= count+1   # 1+1
    print(sum)
print("printing sum of natural num out of the loop:", sum)

1
3
6
10
15
21
28
36
45
55
printing sum of natural num out of the loop: 55

In [37]:
# sum of 10 natural numbers.
sum = 0

for i in range(11):
    sum = sum+i
print(sum)

55

In [38]:
sum = 0
for i in range(11):
  sum = sum + i  #0+1=1, 1+2=3, 3+3=6, 6+4=10 , 10+5=15, 15+6=21, 21+7=28, 28+8=36, 36+9=45, 45+10=55.
print(sum)

55

In [39]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [40]:
mylist = ['cars', 'house', 'business', 'trip', 'hotel', 'apartment', '5bhk', 'pool', 'garden']

mylist.sort()
print(mylist)

mylist.reverse()
print(mylist)

mylist.pop(1)
print(mylist)

mylist.append('paris')
print(mylist)

mylist.insert(1, 'newyork')
print(mylist)
mylist.remove('paris')
print(mylist)

mylist.sort()
print(mylist)

['5bhk', 'apartment', 'business', 'cars', 'garden', 'hotel', 'house', 'pool', 'trip']
['trip', 'pool', 'house', 'hotel', 'garden', 'cars', 'business', 'apartment', '5bhk']
['trip', 'house', 'hotel', 'garden', 'cars', 'business', 'apartment', '5bhk']
['trip', 'house', 'hotel', 'garden', 'cars', 'business', 'apartment', '5bhk', 'paris']
['trip', 'newyork', 'house', 'hotel', 'garden', 'cars', 'business', 'apartment', '5bhk', 'paris']
['trip', 'newyork', 'house', 'hotel', 'garden', 'cars', 'business', 'apartment', '5bhk']
['5bhk', 'apartment', 'business', 'cars', 'garden', 'hotel', 'house', 'newyork', 'trip']

In [42]:
num = []

for x in range(11):
    num.append(x**2)
print(num)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
num = []

for i in range(10):
    num.append(i*2)
    
print(num)


num=[]
for i in range(10):
    num.append(i*3)
print(num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [44]:
tuple = ((5,1,3), ('hello', 'world'), ("a","b", "c"))
print(tuple[0][1:3], (tuple[1][1]), (tuple[2][1]))

(1, 3) world b

In [45]:
nested_tuple = ((5,1,3), ('hello', 'world'), ("a","b", "c"))

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

5 1 3
hello world
a b c

In [48]:
set1 = {1,2,3,4,5,6}

print(type(set1))

set1.remove(2)
print(set1)

set1.add(2)
print(set1)

set1.remove(1)
print(set1)

<class 'set'>
{1, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6}

In [49]:
set1.discard(10)
print(set1)

{2, 3, 4, 5, 6}

In [50]:
set1.pop()
print(set1)

{3, 4, 5, 6}

In [51]:
set1.clear()
print(set1)

set()

In [52]:
set_items = {"house", "dresses", "luggage", "flat", "pool", "Cars"}
set2 = {"house", "dresses", "park", "garden", "bikes"}

union_method = set_items.union(set2)
print(union_method)  

intersection1 = set_items.intersection(set2)
print(intersection1)

diff = set_items.difference(set2)
print(diff)

diff = set2.difference(set_items)  # it will show on only set2 items which are not in set1
print(diff)

total_diff= set_items.symmetric_difference(set2)
print(total_diff)

{'pool', 'park', 'house', 'garden', 'Cars', 'flat', 'bikes', 'luggage', 'dresses'}
{'house', 'dresses'}
{'luggage', 'flat', 'pool', 'Cars'}
{'garden', 'bikes', 'park'}
{'flat', 'bikes', 'park', 'pool', 'luggage', 'garden', 'Cars'}

In [74]:
set1={1,2,3,4,5}
set2={4,5}

# is set

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [75]:
text= ("In this tutorial we are are discussing about sets")

word= text.split()
print(word)
unique_word = set(word)
print(unique_word)

print(len(unique_word))

['In', 'this', 'tutorial', 'we', 'are', 'are', 'discussing', 'about', 'sets']
{'about', 'this', 'we', 'sets', 'are', 'tutorial', 'In', 'discussing'}
8

In [88]:
employee = {"name" : "shweta", "EMP_code" : 123, "age" : "null"}

print(type(employee))
employee

<class 'dict'>

{'name': 'shweta', 'EMP_code': 123, 'age': 'null'}

In [89]:
print(employee["age"])
print(employee["name"])
print(employee.get("city"))  # will not show any error if key is not present in dict.
print(employee.get("city", "city not available"))

null
shweta
None
city not available

In [90]:
employee["age"] = 24
print(employee["age"])  # Output: 24

24

In [91]:
employee["state"] = "Washington DC"
print(employee["state"]) 
print(employee)

Washington DC
{'name': 'shweta', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC'}

In [92]:
employee["city"] = "newyork"
employee ["salary"] = "45000$"

# print("keys: ", employee.keys(), "values: ",employee.values(),"items: ",employee.items())

keys = employee.keys()
print(keys)

values = employee.values()
print(values)

items = employee.items()
print(items)

dict_keys(['name', 'EMP_code', 'age', 'state', 'city', 'salary'])
dict_values(['shweta', 123, 24, 'Washington DC', 'newyork', '45000$'])
dict_items([('name', 'shweta'), ('EMP_code', 123), ('age', 24), ('state', 'Washington DC'), ('city', 'newyork'), ('salary', '45000$')])

In [93]:
employee_clone = employee
print(employee)
print(employee_clone)

{'name': 'shweta', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}
{'name': 'shweta', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}

In [94]:
employee["name"] = "Jasica"

# print(employee)
print(employee_clone)

{'name': 'Jasica', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}

In [95]:
employee_clone1 = employee.copy()

print(employee_clone1)
print(employee)

{'name': 'Jasica', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}
{'name': 'Jasica', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}

In [96]:
employee["age"] = 30
print(employee_clone1)
print(employee_clone)

{'name': 'Jasica', 'EMP_code': 123, 'age': 24, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}
{'name': 'Jasica', 'EMP_code': 123, 'age': 30, 'state': 'Washington DC', 'city': 'newyork', 'salary': '45000$'}

In [97]:
for keys in employee:
    print(keys)

name
EMP_code
age
state
city
salary

In [98]:
for values in employee:
    print(values)

name
EMP_code
age
state
city
salary

In [99]:
for keys,values in employee.items():
    print(f" {keys}  {values}")

 name  Jasica
 EMP_code  123
 age  30
 state  Washington DC
 city  newyork
 salary  45000$

In [100]:
# nested dict

students = { 
    "student1" : {"name":"Shweta", "class" : "12", "age" : 18},
    "student2" : {"name":"Ammy" , "class" : "10", "age":16}

}


print(students["student1"])
print(students["student2"])

{'name': 'Shweta', 'class': '12', 'age': 18}
{'name': 'Ammy', 'class': '10', 'age': 16}

In [101]:
print(students["student1"]["name"])

Shweta

In [102]:
print(students.keys())

dict_keys(['student1', 'student2'])

In [103]:
print(students.values())
print(students.items())

dict_values([{'name': 'Shweta', 'class': '12', 'age': 18}, {'name': 'Ammy', 'class': '10', 'age': 16}])
dict_items([('student1', {'name': 'Shweta', 'class': '12', 'age': 18}), ('student2', {'name': 'Ammy', 'class': '10', 'age': 16})])

In [104]:
for external,internal in students.items():
      print(f"{external} : {internal}")

student1 : {'name': 'Shweta', 'class': '12', 'age': 18}
student2 : {'name': 'Ammy', 'class': '10', 'age': 16}

In [105]:
for external,internal in students.items():
      print(f"{external} : {internal}")
      for keys, values in internal.items():
            print(f"{keys} : {values}")

student1 : {'name': 'Shweta', 'class': '12', 'age': 18}
name : Shweta
class : 12
age : 18
student2 : {'name': 'Ammy', 'class': '10', 'age': 16}
name : Ammy
class : 10
age : 16

In [106]:
for x in range(11):
    print({x : x**2})

{0: 0}
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}

In [108]:
for x in range(11):
    if x%2==0:
        print({x :x**2})

{0: 0}
{2: 4}
{4: 16}
{6: 36}
{8: 64}
{10: 100}

In [109]:
# comprehension 

x = {x :x**2 for x in range(5)}
print(x)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [110]:
x = {x : x**2 for x 
in range(10) if x%2==0}
print(x)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [111]:
x = [x**2 for x in range(11) if x % 2 == 0]
print(x)

[0, 4, 16, 36, 64, 100]

In [112]:
#  merge 2 dict into 1.

dict1 = {"a" : 1, "b": 2}
dict2 = {"c" : 1, "d": 2}

merge_dict = {**dict1,**dict2}
print(merge_dict)

{'a': 1, 'b': 2, 'c': 1, 'd': 2}

In [ ]:
# def function_name(parameter):
#     '''docstring'''
#     # function body
#     return expression

In [114]:
def even_or_odd(num):
    '''this function determines whether a num is even or odd'''
    if num % 2 == 0 :
        return "even"
    else:
        return "odd"
    
even_or_odd(10)
even_or_odd(15)

'odd'

In [115]:
def sum(a,b):
    '''sum of two num'''
    print(f" sum of two num is : {a+b} ")
    
sum(4,5)

 sum of two num is : 9

In [117]:
def greet(name):
    print(f"hello {name} welcome to my kingdom")

greet("Shivi")

hello Shivi welcome to my kingdom

In [118]:
def facts(a,b):
    print(a*b)

facts(5,5)

25

In [119]:
def greet(name = "\'guest\'"):
    print(f"hello {name} welcome to my home.")

greet("\'Shweta\'")
greet()

hello 'Shweta' welcome to my home.
hello 'guest' welcome to my home.

In [120]:
def greet(name = "\'geast\'"):
    print(f"Hello {name} welcome to my home.")

greet()

Hello 'geast' welcome to my home.

In [121]:
def greet(*name):
    print(f" Hello {name} welcome to my home.")

greet("Shweta", "Annu")

 Hello ('Shweta', 'Annu') welcome to my home.

In [122]:
def funct(*name):
    for loop in name:
        print(loop)

funct(1,2,3,4,5,"Shweta")

1
2
3
4
5
Shweta

In [123]:
# args= positional arguments

def name(*args):
    for loop in args:
        print(f"name:  {loop}")

name("Shweta", "Arvi", "Lavanya", "Ruhi")

name:  Shweta
name:  Arvi
name:  Lavanya
name:  Ruhi

In [124]:
def num(*args):
    for loop in args:
        print(loop)

num(1,2,3,1,3,1,3,1)

1
2
3
1
3
1
3
1

In [125]:
def details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")

details(name = "Ahana", age = 25, city = "Pune")

name: Ahana
age: 25
city: Pune

In [126]:
def emp(**kwargs):
    for keys,values in kwargs.items():
        print(f"Employee Details- {keys}: {values}")


emp(name = "Willim", age = 40, gender = "Male", occupation = "Software Engineer")

Employee Details- name: Willim
Employee Details- age: 40
Employee Details- gender: Male
Employee Details- occupation: Software Engineer

In [127]:
def emp(*args, **kwargs):
    for loop in args:
        print(loop)

    for keys,values in kwargs.items():
        print(f" {keys}: {values}")


emp(" Employee Details",name = "Willim", age = 40, gender = "Male", occupation = "Software Engineer")

 Employee Details
 name: Willim
 age: 40
 gender: Male
 occupation: Software Engineer

In [128]:
def emp(*args, **kwargs):
    for loop in args:
        print(loop)

    for keys,values in kwargs.items():
        print(f" {values}")


emp(" Employee Details",name = "Willim", age = 40, gender = "Male", occupation = "Software Engineer")

 Employee Details
 Willim
 40
 Male
 Software Engineer

In [131]:
# password streanth checker 

def is_strong_password(password):

    if len(password) < 8:
        return False 
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char.lower() for char in password):
        return False
    if not any(char in "!@#$%^&*()_+-=" for char in password):
        return False
    
    return True

# calling the function with a password

print(is_strong_password("weakpassword"))
print(is_strong_password("Str0ng_Password!"))

False
True

In [133]:
# factorial

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
    
factorial(5)

120

In [135]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
    
factorial(6)

720

In [136]:
# lambda
add = lambda a,b:a+b
add(2,2)

4

In [137]:
even = lambda num : num%2==0

even(10)

True

In [138]:
exponent = lambda num : num**2
exponent(5)

25

In [139]:
# map
num = [1,2,3,4,5]

def square(x):
    return x ** 2

mapwith_function = list(map(square,num))
print(mapwith_function)

mapwith_lambda =list(map(lambda x: x ** 2, num))
print(mapwith_lambda)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [140]:
num = [1,2,3,4,5]
list(map(lambda x:x**2, num))

[1, 4, 9, 16, 25]

In [141]:
num = [1,2,3,4,5]
num2 = [1,2,3,4,5]

list(map(lambda x,y : x+y , num, num2))

[2, 4, 6, 8, 10]

In [142]:
words = ['Shweta','Happy', 'Birthday']
list(map(str.upper, words))

['SHWETA', 'HAPPY', 'BIRTHDAY']

In [143]:
def even(num):
    return num % 2 == 0

# even(10)

# list[filter, even(20)]

(filter, even(10))

(filter, True)

In [144]:
num_list = range(11)

list(filter (lambda x: x % 2 == 0, num_list))

[0, 2, 4, 6, 8, 10]

In [146]:
list(filter (lambda x: x % 2 != 0, num_list))

[1, 3, 5, 7, 9]

In [145]:
# nums are even and greater than 5.

list(filter (lambda x: x % 2 == 0 and x > 5, num_list))

[6, 8, 10]

In [147]:
people = [
    {'name' : 'shweta', 'age' : 24},
    {'name' : 'Annu', 'age' : 14},
    {'name' : 'Harshita', 'age' : 20}
]

def age_greater_14(person):
    return person['age']>14

list(filter(age_greater_14, people))

[{'name': 'shweta', 'age': 24}, {'name': 'Harshita', 'age': 20}]

In [148]:
def age_greater_18(person):
    return person['age']>18

age_greater_18({"name" : "shweta", "age" : 25})

True